neural-networks-and-deep-learning/.ipynb_checkpoints
neural-networks-and-deep-learning/__pycache__
improving-dnns-with-hyperparameter-tuning-regularization-and-optimization/.ipynb_checkpoints
improving-dnns-with-hyperparameter-tuning-regularization-and-optimization/__pycache__